# .gitattributes
# Auto detect text files and perform LF normalization
* text=auto

# Standard to minalize line ending issues across Windows/Mac
*.cs text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf

# Unity specific files
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.physicMaterial2D text eol=lf
*.physicsMaterial2D text eol=lf

# Binary files (do not touch line endings!)
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.mp3 binary
*.ogg binary
*.wav binary
*.fbx binary
*.dll binary